<section class="selecao-de-rotulos-container">
  <!-- BARRA DE TÍTULO -->

  <!-- COMPONENTE DE SELEÇÃO DE RÓTULOS (AUTOCOMPLETAR) -->
  <section class="selecao-de-rotulos-input">
    <mat-form-field appearance="fill">
      <input [formControl]="_filtroCtrl"
             matInput
             placeholder="FILTRAR RÓTULOS...">
    </mat-form-field>
  </section>

  <section class="selecao-de-rotulos-lista">
    <mat-selection-list (selectionChange)="_alteracaoNaListaEscolhida($event)">
      <mat-list-option *ngFor="let rotulo of _rotulosDisponiveis"
                       [value]="rotulo">
        <div [matTooltip]="rotulo?.descricao"
             class="selecao-de-rotulos-lista-item"
             matTooltipPosition="left">
          <div [ngStyle]="{'background-color': rotulo?.corHexa}"
               class="selecao-de-rotulos-lista-item-rotulo-avatar"></div>
          <mat-icon *ngIf="rotulo?.icone">{{rotulo?.icone}}</mat-icon>
          <div>{{rotulo?.texto}}</div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </section>

</section>
