<section class="ocorrencia-detalhes-configuracoes-responsaveis-container">
  <section (click)="popover.open()"
           [ngClass]="_classesDoCabecalho"
           [satPopoverAnchorFor]="popover">
    <span>Responsáveis</span>

    <mat-icon *ngIf="podeAdicionarResponsaveis">settings</mat-icon>
  </section>

  <section class="ocorrencia-detalhes-configuracoes-responsaveis-avatares">
    <span *ngIf="!responsaveis?.length">Ninguém</span>
    <app-ocorrencia-avatar *ngFor="let responsavel of responsaveis"
                           [corDoAvatar]="responsavel?.usuarioRef?.code | obtemCorDoAvatar: coresDosParticipantes"
                           [identificacaoTooltip]="responsavel?.usuarioRef?.description"
                           [isTextoDoAvatarBranco]="responsavel?.usuarioRef?.code | isTextoDoAvatarBranco: coresDosParticipantes"
                           [label]="responsavel?.usuarioRef?.description[0]"
                           size="small">
    </app-ocorrencia-avatar>
  </section>
</section>

<sat-popover #popover
             (afterClose)="_monitoraAberturaFechamentoDoPopover(false)"
             (afterOpen)="_monitoraAberturaFechamentoDoPopover(true)"
             hasBackdrop>
  <div class="ocorrencia-detalhes-confirguracoes-participantes-popover mat-elevation-z8">
    <app-selecao-de-pessoas [maxUsuarios]="10"
                            [usuariosEscolhidos]="responsaveis | participantesToObjectReferences"
                            [matTooltipDisabled]="_matUsusarioTooltipDisabled">
    </app-selecao-de-pessoas>
  </div>
</sat-popover>
