<section [ngClass]="_containerClasses">
  <section class="ocorrencia-resumo-icone-fechada-aberta">
    <mat-icon *ngIf="evento?.isResolvido"
              class="icon-ocorrencia-finalizada">
      check_circle_outline
    </mat-icon>

    <mat-icon *ngIf="!evento?.isResolvido"
              class="icon-ocorrencia-nao-finalizada">
      error_outline
    </mat-icon>
  </section>

  <div class="ocorrencia-resumo-texto-container">
    <section class="ocorrencia-resumo-texto-titulo">
      <a [routerLink]="evento?.id">{{evento?.titulo}}
      </a>
      <app-ocorrencia-rotulo [corDeFundo]="evento?.classificacaoEvento | corDeFundoPorTipo"
                             [rotulo]="evento?.classificacaoEvento | labelPorTipo">
      </app-ocorrencia-rotulo>
    </section>

    <div>
      aberta
      <span [matTooltip]="evento?.dataRegistro | date:'dd/MM/y HH\'H\'mm'">{{evento?.dataRegistro | tempoDecorrido}}</span>
      por {{evento?.autorEvento?.code}}
    </div>
  </div>

  <div>
    <ng-container *ngIf="(evento?.interacoes | somenteComentarios)?.length">
      <mat-icon>
        chat_bubble_outline
      </mat-icon>
      <div>
        {{(evento?.interacoes | somenteComentarios)?.length}}
      </div>
    </ng-container>
  </div>
</section>