<div [ngClass]="_containerClasses"
     [style.border-top]="showBorderTop ? 'border-top: 0.5px solid rgba(0,0,0,0.1)' : ''">
  <div>
    <mat-icon *ngIf="evento?.isResolvido"
              class="icon-ocorrencia-finalizada">
      check_circle_outline
    </mat-icon>

    <mat-icon *ngIf="!evento?.isResolvido"
              class="icon-ocorrencia-nao-finalizada">
      error_outline
    </mat-icon>
  </div>

  <div class="ocorrencia-resumo-texto-container">
    <div>{{evento?.titulo}}</div>

    <div>
      aberta
      <span [matTooltip]="evento?.dataRegistro | date:'dd/MM/y HH\'H\'mm'">{{evento?.dataRegistro | tempoDecorrido}}</span>
      por {{evento?.autorEvento?.code}}
    </div>
  </div>

  <div>
    <ng-container *ngIf="evento?.comentarios?.length">
      <mat-icon>
        chat_bubble_outline
      </mat-icon>
      <div>
        {{evento?.comentarios?.length}}
      </div>
    </ng-container>
  </div>
</div>
