@import '~@angular/material/theming';
@import '../../../../../theme.scss';

.comentario-edicao-container {
  display: flex;

  .comentario-edicao-principal {
    flex: 1;
    display: flex;
    flex-direction: column;

    border: 1px solid #c3c9cf;
    border-radius: 4px;

    font-size: 0.8rem;

    .ck-editor__editable {
      min-height: 180px;
      margin: 8px 8px;
      border-radius: 4px;
    }

    .ck-toolbar {
      border: none !important;
      border-bottom: 1px solid #c3c9cf !important;
      border-radius: 0px !important;
    }

    .comentario-edicao-botoes-acao {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      margin: 8px;
    }
  }
}