<div mat-dialog-title>
  {{titulo}}
</div>
<div mat-dialog-content>
  <div [innerHTML]="mensagem"></div>
</div>
<div mat-dialog-actions
     align="end">
  <button *ngIf="botaoFalseVisible"
          mat-button
          (click)="_dialogRef.close(false)"
          color="warn"
          [disabled]="botaoFalseDisabled">{{botaoFalseText}}</button>
  <button *ngIf="!botaoFalseVisible && botaoTrueVisible"
          mat-button
          (click)="_dialogRef.close(true)"
          color="primary"
          [disabled]="botaoTrueDisabled">{{botaoTrueText}}</button>
  <button *ngIf="botaoFalseVisible  && botaoTrueVisible"
          mat-button
          (click)="_dialogRef.close(true)"
          color="primary"
          [disabled]="botaoTrueDisabled"
          tabindex="-1">{{botaoTrueText}}</button>
</div>
