<section *ngIf="ocorrencia"
         class="formulario-somente-leitura-container mat-typography">
  <section class="formulario-somente-leitura-avatar">
    <app-ocorrencia-avatar [corDoAvatar]="corDoAvatar"
                           [identificacaoTooltip]="ocorrencia?.autorEvento?.description"
                           [isTextoDoAvatarBranco]="isTextoDoAvatarBranco"
                           [label]="ocorrencia?.autorEvento?.description[0]">
    </app-ocorrencia-avatar>
  </section>

  <section class="formulario-somente-leitura-resumo  mat-elevation-z4">
    <section [class.darker]="_isVisibilidadeLimitada"
             class="formulario-somente-leitura-titulo">
      <section class="formulario-somente-leitura-tipo-subtipo">
        <div><strong>{{ocorrencia?.descricaoTipoEvento}}:</strong> {{ocorrencia?.descricaoSubTipoEvento}}</div>

        <div *ngIf="_isVisibilidadeLimitada"
             class="icone-de-visibilidade-limitada"
             matTooltip="Esta ocorrência só pode ser vista pelos participantes">
          <mat-icon>visibility_off</mat-icon>
        </div>
      </section>


      <section class="formulario-somente-leitura-data">
        <strong>Data da ocorrência:</strong> {{ocorrencia?.data | date: 'dd/MM/y'}}
      </section>

      <section class="formulario-somente-leitura-acoes">
        <app-ocorrencia-menu (alteraLocal)="_mostaDialogoDeAlterarLocal()"
                             (alteraTexto)="mostraEditor = true"
                             (alteraUnidade)="_mostaDialogoDeAlterarUnidade()"
                             (tornaVisivel)="_abreDialogoAlteraVisibilidade($event)"
                             (menuAberto)="_suspendeAtualizacaoPeriodicaDaTela($event)"
                             [isCabecalhoEvento]="true"
                             [ocorrencia]="ocorrencia">
        </app-ocorrencia-menu>
      </section>
    </section>

    <section class="formulario-somente-leitura-corpo">
      <div (mouseenter)="_mostraBotaoAlterarUnidade = true"
           (mouseleave)="_mostraBotaoAlterarUnidade = false"
           class="formulario-somente-leitura-corpo-unidade">
        <div><strong>UNIDADE:</strong> {{ocorrencia?.cidadeUnidade ? ocorrencia?.cidadeUnidade : 'NÃO INFORMADA'}}</div>

        <div>
          <button *ngIf="_podeAlterarUnidade"
                  (click)="_mostaDialogoDeAlterarUnidade()"
                  mat-icon-button
                  type="button">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

      <div (mouseenter)="_mostraBotaoAlterarLocal = true"
           (mouseleave)="_mostraBotaoAlterarLocal = false"
           class="formulario-somente-leitura-corpo-local">
        <div><strong>LOCAL:</strong> {{ocorrencia?.local ? ocorrencia?.local : 'NÃO INFORMADO'}}</div>

        <div>
          <button *ngIf="_mostraBotaoAlterarLocal"
                  (click)="_mostaDialogoDeAlterarLocal()"
                  mat-icon-button
                  type="button">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

      <div [innerHTML]="ocorrencia?.tutoria | tutoriaTurmas"
           class="formulario-somente-leitura-corpo-tutorias"></div>

      <section class="ocorrencia-formulario-somente-leitura-parecer">
        <ng-template #visualizacao>
          <div [innerHTML]="ocorrencia?.textoFormatado?.html"></div>
        </ng-template>


        <app-ocorrencia-comentario-edicao *ngIf="mostraEditor; else visualizacao"
                                          (cancelaEdicao)="mostraEditor = false"
                                          (comentarioChanged)="_alteraComentario($event)"
                                          [comentarioMarkdown]="ocorrencia?.textoFormatado?.markdown"
                                          [mostraBotoesDeAcao]="true"
                                          [ocorrencia]="ocorrencia">
        </app-ocorrencia-comentario-edicao>
      </section>
    </section>
  </section>
</section>
