<section class="ocorrencia-detalhes-configuracoes-participantes-container">
  <section (click)="popover.open()"
           [ngClass]="_classesDoCabecalho"
           [satPopoverAnchorFor]="popover">
    <span>{{participantes?.length | numeroDeParticipantes}}</span>

    <mat-icon *ngIf="podeAdicionarParticipantes">settings</mat-icon>
  </section>

  <section class="ocorrencia-detalhes-configuracoes-participantes-avatares">
    <app-ocorrencia-avatar *ngFor="let participante of participantes"
                           [corDoAvatar]="participante?.usuarioRef?.code | obtemCorDoAvatar: coresDosParticipantes"
                           [identificacaoTooltip]="participante?.usuarioRef?.description"
                           [isTextoDoAvatarBranco]="participante?.usuarioRef?.code | isTextoDoAvatarBranco: coresDosParticipantes"
                           [label]="participante?.usuarioRef?.description[0]"
                           size="small">
    </app-ocorrencia-avatar>
  </section>
</section>

<sat-popover #popover
             (afterClose)="_monitoraAberturaFechamentoDoPopover(false)"
             (afterOpen)="_monitoraAberturaFechamentoDoPopover(true)"
             hasBackdrop>
  <div class="ocorrencia-detalhes-confirguracoes-participantes-popover mat-elevation-z8">
    <app-selecao-de-pessoas [usuariosEscolhidos]="participantes | participantesToObjectReferences"
                            [usuariosImexiveis]="participantes | usuariosImexiveis"
                            [matTooltipDisabled]="_matUsusarioTooltipDisabled">
    </app-selecao-de-pessoas>
  </div>
</sat-popover>
