@import '~@angular/material/theming';
@import '../../../../../theme.scss';

.selecao-de-pessoas-container {
  display: flex;
  flex-direction: column;

  min-width: 340px;

  &>section {
    padding: 10px 0px;
  }

  .selecao-de-pessoas-titulo {
    font-weight: 300;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    padding-left: 10px;
    padding-right: 10px;

    background-color: mat-color($app-primary);
    color: mat-contrast($app-primary, 700);

    &.max-pessoas-atingido {
      background-color: mat-color($app-warn);
      color: mat-contrast($app-warn, 700);
    }
  }

  .selecao-de-pessoas-input {
    display: flex;

    font-family: inherit;
    margin-top: 0px;
    padding: 0px;

    .mat-form-field {
      flex: 1;
    }
  }

  .selecao-de-pessoas-lista {
    max-height: 290px;
    overflow-y: auto;

    padding-bottom: 0px;


    .mat-list-option {
      &:first-of-type {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      padding-left: 0px;
      padding-right: 0px;
    }
  }

}
