<section class="ocorrencia-detalhes-configuracoes-rotulos-container">
  <section [ngClass]="_classesDoCabecalho">
    <span>Rótulos</span>

    <mat-icon *ngIf="podeAdicionarRotulos">settings</mat-icon>
  </section>

  <section class="ocorrencia-detalhes-configuracoes-rotulos-pilha">
    <span *ngIf="ocorrencia?.classificacaoEvento === _classificacaoEvento.OCORRENCIA_COMUM">Nenhum</span>
    <app-ocorrencia-rotulo class="ocorrencia-detalhes-configuracoes-rotulos-pilha-item" [corDeFundo]="ocorrencia?.classificacaoEvento | corDeFundoPorTipo"
                           [rotulo]="ocorrencia?.classificacaoEvento | labelPorTipo">
    </app-ocorrencia-rotulo>
  </section>
</section>