.ocorrencia-acao-container {
  display: flex;
  align-items: center;

  padding-left: 67px;

  .ocorrencia-acao-badge {
    .mat-icon {
      font-size: 30px;
    }
  }

  .ocorrencia-acao-texto {
    display: flex;
    align-items: center;

    margin-left: 5px;

    .ocorrencia-acao-texto-descricao {
      display: inline;
      margin-left: 5px;

      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.8);

      .autor {
        display: inline;
      }

      .texto-normal-negrito {
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
      }
    }
  }
}