.ocorrencia-acao-container {
  display: flex;
  align-items: center;

  padding-left: 67px;

  .ocorrencia-acao-badge {
    .mat-icon {
      font-size: 30px;
    }
  }

  .ocorrencia-acao-texto {
    flex: 1;
    display: flex;
    align-items: center;

    margin-left: 5px;

    .ocorrencia-acao-texto-descricao {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      margin-left: 5px;

      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.8);

      .texto-normal-negrito {
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
      }

      .m-right-5px {
        margin-right: 5px;
      }
    }
  }
}
