<section class="ocorrencia-acao-container">
  <section class="ocorrencia-acao-badge">
    <mat-icon [color]="_theme">{{_icon}}</mat-icon>
  </section>

  <section class="ocorrencia-acao-texto">
    <app-ocorrencia-avatar [corDoAvatar]="acao?.autorRef?.code | obtemCorDoAvatar: coresDosParticipantes"
                           [identificacaoTooltip]="acao?.autorRef?.description"
                           [isTextoDoAvatarBranco]="acao?.autorRef.code | isTextoDoAvatarBranco: coresDosParticipantes"
                           [label]="acao?.autorRef?.description[0]"
                           size="mini">
    </app-ocorrencia-avatar>

    <section class="ocorrencia-acao-texto-descricao">
      <section class="autor texto-normal-negrito">{{acao?.autorRef?.description}}&nbsp;</section>

      <ng-container [ngSwitch]="acao?.historicoInteracoes[0]?.tipoAcao">
        <span *ngSwitchDefault
              [innerHTML]="acao | acaoRealizada"
              class="acao-default m-right-5px"></span>

        <app-ocorrencia-acao-linha-alteracao-rotulo *ngSwitchCase="_tipoAcao.ALTERA_ROTULO"
                                                    [historicoInteracao]="acao?.historicoInteracoes[0]">
        </app-ocorrencia-acao-linha-alteracao-rotulo>

        <app-ocorrencia-acao-linha-alteracao-responsaveis *ngSwitchCase="_tipoAcao.ALTERA_RESPONSAVEIS"
                                                          [historicoInteracao]="acao?.historicoInteracoes[0]">
        </app-ocorrencia-acao-linha-alteracao-responsaveis>
      </ng-container>

      <app-tempo-decorrido [data]="acao?.historicoInteracoes[0]?.data"></app-tempo-decorrido>
    </section>
  </section>
</section>
