<app-lista-de-ocorrencias *ngIf="!_isCriandoNovaOcorrencia; else novaOcorrencia"
                          (novaOcorrencia)="_mostraFormularioDeOcorrencia($event)"
                          (paginacaoChange)="_atualizaPaginacao($event)"
                          (termoDeBuscaChange)="_filtraEventos($event)"
                          [config]="_config$ | async"
                          [eventos]="_eventos$ | async"
                          [paginacao]="_paginacao$ | async">
  <!-- BARRA DE FILTRAGEM-->
  <app-lista-de-ocorrencias-search-bar (filtroChange)="_trataAlteracaoNoFiltro($event)"
                                       [filtrosDeBusca]="_filtrosDeBusca$ | async | filtrosDeBuscaToListaDeOcorrenciasSearchBarComponentChange"
                                       [numeroDeOcorrencias]="(_eventos$ | async)?.length"
                                       issueSearchBar>
  </app-lista-de-ocorrencias-search-bar>
</app-lista-de-ocorrencias>

<ng-template #novaOcorrencia>
  <div class="ocorrencia-nova-ocorrencia-wrapper">
    <section class="ocorrencia-nova-ocorrencia-container">
      <app-ocorrencia-formulario (cancelamentoSolicitado)="_isCriandoNovaOcorrencia=false"
                                 (dadosDoFormularioParaGravar)="_gravaOcorrencia($event)"
                                 [differencaDeHoraNoServidor]="_diferencaDeHoraNoServidor$ | async"
                                 [tipoFormulario]="_ocorrenciaFormularioComponentTipo"
                                 [unidades]="_unidades$ | async">
      </app-ocorrencia-formulario>
    </section>
  </div>
</ng-template>
