.ocorrencia-acao-linha-alteracao-rotulo-container {
  display: inline;

  .conjuncao-aditiva {
    display: inline-flex;
  }
  
  .ocorrencia-acao-linha-alteracao-rotulo {
    display: inline;

    &>* {
      display: inline-flex;
    }

    &:last-of-type {
      margin-right: 3px;
    }

    app-ocorrencia-rotulo {
      margin-left: 5px;
    }
  }
}
