<section class="comentario-container">
  <section class="comentario-avatar">
    <app-ocorrencia-avatar [corDoAvatar]="corDoAvatar"
                           [isTextoDoAvatarBranco]="isTextoDoAvatarBranco"
                           [label]="comentario?.autorRef?.description[0]"
                           [identificacaoTooltip]="comentario?.autorRef?.description">
    </app-ocorrencia-avatar>
  </section>

  <section class="comentario-principal mat-typography">
    <app-ocorrencia-comentario-edicao *ngIf="isEditando; else visualizacao"
                                      (cancelaEdicao)="isEditando = false"
                                      (comentarioChanged)="comentarioChanged.emit($event)"
                                      (textoDoComentarioChange)="textoDoComentarioChange.emit($event)"
                                      [comentarioMarkdown]="(comentario | obtemHistoricoComentarioMaisRecente)?.texto?.markdown"
                                      [mostraBotoesDeAcao]="mostraBotoesDeAcao"
                                      [ocorrencia]="ocorrencia">
    </app-ocorrencia-comentario-edicao>

    <ng-template #visualizacao>
      <app-ocorrencia-comentario-visualizacao (alteraTexto)="isEditando = true"
                                              (comentarioChanged)="comentarioChanged.emit($event)"
                                              [comentario]="comentario"
                                              [ocorrencia]="ocorrencia"
                                              [roles]="roles">
      </app-ocorrencia-comentario-visualizacao>
    </ng-template>
  </section>
</section>
