<mat-form-field [appearance]="appearance"
                class="full-width">
  <mat-label>{{label}}</mat-label>
  <input #forceSelection="appForceSelection"
         [appForceSelectionId]="email"
         [formControl]="_formControl"
         [matAutocomplete]="acpUsuarios"
         [placeholder]="placeholder"
         appForceSelection
         autocomplete="off"
         class="app-uppercase"
         matInput>
  <div class="m-right-10"
       matPrefix>
    <mat-spinner [style.visibility]="_showUsuariosSearchSpinner ? 'visible' : 'hidden'"
                 diameter="15"></mat-spinner>
  </div>
  <mat-autocomplete #acpUsuarios="matAutocomplete"
                    (optionSelected)="_emiteUsuarioEscolhido($event.option.value)"
                    [displayWith]="_displayWithUsuario">
    <mat-option *ngFor="let usuario of _usuariosPossiveis$ | async"
                [value]="usuario">
      <div [innerHTML]="usuario?.code | negritaOcorrencias"
           [matTooltip]="usuario?.description"
           matTooltipPosition="after"></div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
